@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
/* Ensure these are in the GLOBAL styles.css file */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  /* Force a transition string so the CDK doesn't get 'undefined' */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-placeholder {
  opacity: 0;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}